{% extends "layouts/main.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Sorry, there is a problem with the service</h1>
      <p class="govuk-body">Try again later.</p>
      <p class="govuk-body">If you have started an application, your progress has been saved. You can <a class="govuk-link" href="/auth/sign-in">sign in</a> to continue later.</p>
      <p class="govuk-body">Contact us if you continue to experience problems.</p>
    </div>
  </div>
{% endblock %}
